@model IEnumerable<citycar.Models.Voiture>
@{ViewData["Title"] = "Home Page"; }
<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    @*Block de recherche*@
    <form asp-action="Index">
        <label for="Marque-select">Marque :</label>
        <select name="marque" id="Marque-select" >
            <option value="">--Veuillez choisir une option--</option>
            <option value="BMW" >BMW</option>
            <option value="Mercedes">MERCEDES</option>
        </select>
        <label for="Categorie-select">Catégorie :</label>
        <select name="NomCategories" id="Categorie-select">
            <option value="">--Veuillez choisir une option--</option>
            <option value="Berline">Berline</option>
            <option value="SUV">SUV</option>
        </select>
            <input type="submit" value="Recherche" class="btn btn-primary p-0 mb-1" style="height:30px"/>
    </form>   

    @*block des voitures*@
    <div class="d-inline-block m-4">

        @foreach (var item in Model)
        {

<div class="d-inline-block border m-3 p-5" style="height: auto; width:350px;">

    <div class="container mt-2">
        <p>propriétaire : <a asp-controller="Proprietaires" asp-action="Details" asp-route-id="@item.Proprietaire.Id">@item.Proprietaire.NomComplet</a></p>
    </div>

    <div class="container">
        <p>
            @item.Marque - @item.Modele - @item.Categorie.NomCategories
            <br />
            <a asp-controller="Voitures" asp-action="Details" asp-route-id="@item.Id"><img src="~/img/@item.Image" alt=" " class="img-thumbnail" style="max-width:300px; max-height:100px" /></a>
        </p>

    </div>


    <div class="container">
        <p>
            Dernier commentaire :
            <ul class="list-unstyled">
                @{
                    var num = item.Commentaires.Count;
                    var commentaire = item.Commentaires.ElementAt(num - 1);
                    <li style="max-width:200px; font-size:10px"> @commentaire.Date :  @commentaire.TextCommentaire</li>

                }


            </ul>
            <a asp-controller="Voitures" asp-action="Details" asp-route-id="@item.Id">ajouter un commentaire</a>
        </p>
    </div>
</div>}

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>