@model IEnumerable<citycar.Models.Voiture>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{ViewData["Title"] = "Home Page"; }
<div class="text-center">

    <h1 id=" titre" class="display-4">CITYCAR</h1>

    @*Block de recherche*@
    <form  asp-action="Index">
        <label for="Marque-select" >Marques :</label>
        <select name="marque" id="Marque-select" style="height:40px; width:215px" class="space">
            <option value="">Veuillez choisir une option</option>
            <option value="BMW">BMW</option>
            <option value="Mercedes">MERCEDES</option>
            <option value="Ford">Ford</option>
            <option value="Jeep">Jeep</option>
            <option value="GMC">GMC</option>
            <option value="Ford Mustang">Ford Mustang</option>
            <option value="Toyota">Toyota</option>
            <option value="Cadillac">Cadillac</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Chrysler">Chrysler</option>
            <option value="Tesla Motors">Tesla Motors</option>
            <option value="Fisker">Fisker</option>
            <option value="Honda">Honda</option>
            <option value="Nissan">Nissan</option>
        </select>
        <span></span>
        <label for="Categorie-select" >Catégories :</label>
        <select name="NomCategories" id="Categorie-select" style="height:40px; width:215px" class="space">
            <option value="">Veuillez choisir une option</option>
            <option value="Berline">Berline</option>
            <option value="SUV">SUV</option>
            <option value="Roadster">Roadster</option>
            <option value="Cabriolet">Cabriolet</option>
            <option value="Familiale">Familiale</option>
            <option value="Coupé">Coupé</option>
            <option value="Pickup">Pickup</option>
            <option value="voiture sportive">voiture sportive</option>
            <option value="4×4">4×4</option>
        </select>
        <input type="submit" value="Rechercher" class="btn btn-primary p-0 mb-1" style="height:40px; width:150px" />
    </form>

    @*block des voitures*@
    <div class="d-inline-block m-4">

        @foreach (var item in Model)
        {

            <div class="d-inline-block border m-3 p-5 bg-white " style="height: auto;width: 350px; box-shadow: 0 2px 2px 0;">

                <div class="container mt-2">
                    <p>Propriétaire : <a asp-controller="Proprietaires" asp-action="Details" asp-route-id="@item.Proprietaire.Id">@item.Proprietaire.NomComplet</a></p>
                </div>

                <div class="container">
                    <p>
                        @item.Marque - @item.Modele - @item.Categorie.NomCategories
                        <br />
                        <a asp-controller="Voitures" asp-action="Details" asp-route-id="@item.Id"><img src="~/img/@item.Image" alt=" " class="img-thumbnail" style="max-width:300px; max-height:100px" /></a>
                    </p>

                </div>


                <div class="container">
                    <p>
                        Dernier commentaire :
                        <ul class="list-unstyled">
                            @{
                                if (item.Commentaires.Count > 0)
                                {
                                    var num = item.Commentaires.Count;

                                    var commentaire = item.Commentaires.ElementAt(num - 1);
                                    <li style="max-width:200px; font-size:10px"> @commentaire.Date :  @Html.Raw(@commentaire.TextCommentaire)</li>
                                }
                                else
                                {
                                    <li style="max-width:200px; font-size:10px">Aucun commentaire !</li>
                                }
                            }


                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Voitures" asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Ajouter un commentaire</button></a>
                        }
                            
                    </p>
                </div>
            </div>}

    </div>
</div>