@model IEnumerable<citycar.Models.Voiture>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Voitures</h1>
<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                Catégorie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cylindree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Propriétaire
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modele)
                </td>
                <td>
                    @item.Categorie.NomCategories
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cylindree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix) 
                </td>
                <td>
                    <img src="~/img/@item.Image" alt="@item.Modele" class="img-thumbnail" style="max-width:100px; max-height:100px" title="@item.Marque - @item.Modele"/>
                </td>
                <td>
                    <a asp-controller="Proprietaires" asp-action="Details" asp-route-id="@item.Proprietaire.Id">@item.Proprietaire.NomComplet</a>
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                    }

                </td>
            </tr>
        }
    </tbody>

    <th></th>
</table>
